.section_6{
    width: 100%;
    // height: 100vh;
    background-color: #fff;
    padding: 130px 80px;
    margin: auto;

    .title{
        display: flex;
        justify-content: space-between;
        gap: 50px;

        h2{
            font-weight: 600;
            font-size: 48px;
            line-height: 58px;
            color: #000;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .card_box{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)) !important;
        gap: 20px;
        row-gap: 50px;
        padding-top: 50px;
        

        .card{
            width: 280px;
            height: 316px;
            padding: 15px;
            margin: auto;
            border-radius: 30px;
            // background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);

            .img_box{
                width: 100%;
                height: 200px;
                position: relative;
                border-radius: 20px;
                overflow: hidden;

                .img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .like{
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    height: 48px;
                    width: 48px;
                }
            }
            .content_box{

                .title{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    color: #000;
                    text-align: left;
                    margin-top: 20px;
                }

                .flex{
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    margin-top: 30px;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 15px;

                        p{
                            font-size: 14px;
                            color: rgba(0, 0, 0, 0.6);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .ads{
            padding: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media(max-width: 1000px){
    .section_6{
        .title{
            display: flex !important;
            flex-direction: column !important;
            h2{
                font-size: 45px;
            }
        }
    }
}
@media(max-width: 800px){
    .section_6{
        padding: 20px !important;
        .card_box{
            padding-bottom: 50px !important;

        }
    }
}
@media(max-width: 500px){
    .section_6{
        .title{
            h2{
                font-size: 30px !important;
                line-height: 40px !important;
            }
        }
        .card_box{
            .card{
                padding: 10px !important;
                .img_box{
                    .like{
                        width: 40px !important;
                        height: 40px !important;
                        top: 10px !important;
                        right: 10px !important; 
                    }
                }
            }
        }
        padding: 20px !important;
    }
}